includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    # Level 9 is the highest level
    level: 6
    checkGenericClassInNonGenericObjectType: false
    checkModelProperties: true

    paths:
        - app/


#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
    checkMissingIterableValueType: false
